{% extends 'bootstrap/base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="container-fluid">
        {% include 'navbar.html' %}
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="art-head">
            <h2><b>Top Trending articles</b></h2>
        </div>
    </div>
    <div class="row">
    {% for news_article in news_articles %}
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item" id="articles">
                <h4><i><b>{{news_article.title}}</b></i></h4>
                <img src={{news_article.urlToImage}} alt="News article image loading ...." width="80%" height="300px">
                <h5><b>Description</b></h5>
                <p>{{news_article.description}}</p>
                <p><b>Published At: </b>{{news_article.publishedAt}}</p>
                <p><b>Article news Link: </b><a href="{{news_article.url}}" target="_blank">{{news_article.url}}</a></p>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}