{% extends 'bootstrap/base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="jumbotron" id="error">
                <h1>Sorry!!! Page not found</h1>
            </div>
    </div>
{% endblock %}